AWS_ACCESS_KEY_ID=AKABCDEFGHIJKLMNOPQ
AWS_SECRET_ACCESS_KEY=aBcDeFgHiJkLmNoPqRsTuVwXyZAbCdEfGhIjKlMn
AWS_REGION=us-east-1

# AppConfig Identifers
# Application ID
APP_ID=0123abc
# Environment ID
ENV_ID=0123abc
# Configuration Profile ID
CONFIG_ID=0123abc
